<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script
      src="https://kit.fontawesome.com/a1b97f2018.js"
      crossorigin="anonymous"
    ></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <main id="root">
      <div class="main-content">
        <div class="contacts">
          <div class="contacts__header">
            <div class="contacts__user-profile">
              <div class="contacts__user-profile-pic">
                <img src="./img/avatar_io.jpg" />
              </div>
              <p class="contacts__user-profile-name">Sofia</p>
            </div>

            <div class="contacts__header-icons">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>

          <div class="contacts__notifications">
            <div class="contacts__notifications-icon">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="contacts__notifications-text">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>
          <div class="contacts__findchat">
            <button
              class="contacts__findchat-submit"
              @click="dateToMilliseconds"
              type="submit"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            <input
              class="contacts__findchat-input"
              type="text"
              placeholder="Cerca o inizia una nuova chat"
              v-model="contactToFind"
            />
          </div>

          <ul class="contacts__list">
            <li
              v-for="(contact, i) in filteredContacts"
              class="contacts__contact"
              :class="[i === currentIndex ? 'active' : '']"
              @click="currentIndex = i"
            >
              <div class="contacts__contact-picture-box">
                <img :src=`img/avatar${contact.avatar}.jpg` />
              </div>

              <div class="contacts__contact-text">
                <h3 class="contacts__contact-name">{{contact.name}}</h3>

                <template v-for="(message, i) in contact.messages">
                  <p
                    v-if="i === contact.messages.length - 1"
                    class="contacts__contact-message-preview"
                  >
                    {{ message.message }}
                  </p>
                </template>
              </div>

              <template v-for="(message, i) in contact.messages">
                <p
                  v-if="i === contact.messages.length - 1"
                  class="contacts__contact-message-time"
                >
                  {{ message.date }}
                </p>
              </template>
            </li>
          </ul>
        </div>
        <div class="messages">
          <div class="messages__header">
            <div class="messages__user-profile">
              <div class="messages__user-profile-pic">
                <img :src=`img/avatar${currentContact.avatar}.jpg` />
              </div>
              <p class="messages__user-profile-name">
                {{ contacts[currentIndex].name }}
              </p>
            </div>

            <div class="messages__header-icons">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>

          <div class="messages__body">
            <ul class="messages__body-container">
              <li
                class="messages__message"
                v-for="(message, i) in currentContact.messages"
                :class="[message.status === 'sent' ? 'sent' : 'received']"
              >
                <p class="messages__message-text">{{ message.message }}</p>
                <p class="messages__message-time">
                  {{ message.date.slice(11, 16) }}
                </p>

                <div class="messages__message-toolbox">
                  <i
                    class="fa-solid fa-chevron-down"
                    @click="toggleToolbox"
                  ></i>

                  <button
                    class="messages__message-toolbox-button"
                    :class="[isToolboxActive ? 'active' : '']"
                    @click="deleteMessage(i)"
                  >
                    Delete message
                  </button>
                </div>
              </li>
            </ul>
          </div>

          <div class="messages__footer">
            <i class="fa-regular fa-face-smile"></i>
            <input
              class="messages__write"
              type="text"
              placeholder="Scrivi un messaggio"
              @keyup.enter="addNewMessage"
              v-model="newMessage"
            />
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
      </div>
    </main>
    <script src="./js/app.js"></script>
  </body>
</html>
